---
import { IconMapPin, IconLocation } from "@tabler/icons-react";
---

<section id="ubicaciones" class="py-8 px-auto bg-linear-to-tr bg-slate-100">
  <h2 class="font-bold tracking-wider text-2xl text-primary">Ubicaciones</h2>
  <p class="text-xl">
    Tenemos multiples ubicaciónes por toda la zona metropolitana de Tampico
  </p>

  <article class="my-8">
    <iframe
      class="w-full"
      src="https://www.google.com/maps/d/embed?mid=1eqQpjgiZnmGtrliKX1WBokfywyBCvd4&ehbc=2E312F"
      height="480"></iframe>
  </article>

  <div class="grid md:grid-cols-2 gap-8 gap-y-16">
    <div class="location">
      <span
        ><h3>Hotel Posada del Español</h3>
        <a
          href="https://www.google.com/maps/dir//La+posada+del+espa%C3%B1ol,+Gral.+C%C3%A9sar+L%C3%B3pez+de+Lara+313,+Zona+Centro,+89000+Tampico,+Tamps./@22.2128251,-97.8556642,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85d7f77451859ac7:0x5c74665a4fbec253!2m2!1d-97.8555927!2d22.2127752?entry=ttu&g_ep=EgoyMDI1MDQwNi4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener noreferrer"><IconLocation size={14} />Ir al lugar</a
        >
      </span>
      <div class="">
        <p>Gral. César López de Lara 313, Zona Centro, C.P. 89000</p>
        <p class="font-bold text-primary">En Tampico</p>
        <p class="flex items-center gap-1">
          <IconMapPin size={18} />Cerca de la Plaza de Armas y la Aduana
        </p>
      </div>
    </div>
    <div class="location">
      <span
        ><h3>Hotel Del Puente Inn Express</h3>
        <a
          href="https://www.google.com/maps/dir//Hotel+Puente+Express+Inn,+C.+Soto+La+Marina+100,+Obrera,+89050+Tampico,+Tamps./@22.2319229,-97.8490097,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85d7f7643dbce62d:0x2f96de7a9dffad37!2m2!1d-97.8450183!2d22.232272?entry=ttu&g_ep=EgoyMDI1MDQwNi4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener noreferrer"><IconLocation size={14} />Ir al lugar</a
        >
      </span>
      <div class="">
        <p>C. Soto La Marina 100, Obrera, C.P. 89050</p>
        <p class="font-bold text-primary">En Tampico</p>
        <p class="flex items-center gap-1">
          <IconMapPin size={18} />Cercas del BARCO Museo del niño
        </p>
      </div>
    </div>
    <div class="location">
      <span
        ><h3>Hotel Hawaii</h3>
        <a
          href="https://www.google.com/maps/dir//Hotel+Hawaii,+H%C3%A9roes+del+Ca%C3%B1onero+Tampico+608,+Zona+Centro,+89000+Tampico,+Tamps./@22.2119489,-97.8545021,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85d7f707211a7249:0xaf74c594d484c0b0!2m2!1d-97.8544583!2d22.2120599?entry=ttu&g_ep=EgoyMDI1MDQwNi4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener noreferrer"><IconLocation size={14} />Ir al lugar</a
        >
      </span>
      <div class="">
        <p>Héroes del Cañonero Tampico 608, Zona Centro, C.P. 89000</p>
        <p class="font-bold text-primary">En Tampico</p>
        <p class="flex items-center gap-1">
          <IconMapPin size={18} />Cercas del Mercado de Tampico
        </p>
      </div>
    </div>
    <div class="location">
      <span
        ><h3>Hotel Zaragoza</h3>
        <a href="https://www.google.com/maps/dir/22.2968723,-97.8821382/Ignacio+Zaragoza+102,+Zona+Centro,+89600+Altamira,+Tamps./@22.3972213,-97.9370244,16.75z/data=!4m19!1m8!3m7!1s0x85d7fd15afc3f09b:0xd0aed8d44289f997!2sIgnacio+Zaragoza+102,+Zona+Centro,+89600+Altamira,+Tamps.!3b1!8m2!3d22.397497!4d-97.9353471!16s%2Fg%2F11c5mplxbd!4m9!1m1!4e1!1m5!1m1!1s0x85d7fd15afc3f09b:0xd0aed8d44289f997!2m2!1d-97.9353471!2d22.397497!3e1?entry=ttu&g_ep=EgoyMDI1MDQwNi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"
          ><IconLocation size={14} />Ir al lugar</a
        >
      </span>
      <span>
        <div class="">
          <p>Ignacio Zaragoza 102, Zona Centro, C.P. 89600</p>
          <p class="font-bold text-primary">En Altamira</p>
          <p class="flex items-center gap-1">
            <IconMapPin size={18} />Cercas del centro de Altamira
          </p>
        </div>
      </span>
    </div>
        <div class="location">
      <span
        ><h3>Hotel Iturbide</h3>
        <a href="https://www.google.com/maps/dir/22.296892,-97.8822021/Hotel+Iturbide,+R%C3%ADo+Jordan+405,+Potosina,+89600+Altamira,+Tamps./@22.3926718,-97.9356911,17.29z/data=!4m21!1m10!3m9!1s0x85d7fd1a74d86bfd:0xcf8f1e88b154bd65!2sHotel+Iturbide!5m2!4m1!1i2!8m2!3d22.3933824!4d-97.9324427!16s%2Fg%2F11fnqjv9g5!4m9!1m1!4e1!1m5!1m1!1s0x85d7fd1a74d86bfd:0xcf8f1e88b154bd65!2m2!1d-97.9324427!2d22.3933824!3e1?entry=ttu&g_ep=EgoyMDI1MDQwNi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer"
          ><IconLocation size={14} />Ir al lugar</a
        >
      </span>
      <span>
        <div class="">
          <p>Río Jordan 405, Potosina, C.P. 89600</p>
          <p class="font-bold text-primary">En Altamira</p>
          <p class="flex items-center gap-1">
            <IconMapPin size={18} />Cercas del centro de Altamira
          </p>
        </div>
      </span>
    </div>
  </div>

  <style>
    @reference '@styles/global.css';

    .location {
      @apply flex flex-col gap-4;
    }

    .location h3 {
      @apply font-bold text-xl;
    }

    .location a {
      @apply bg-primary text-white rounded-md font-bold px-2 py-1 flex gap-1 items-center text-sm min-w-fit;
    }

    .location > span {
      @apply flex justify-between items-start;
    }
    .location p:last-child {
      @apply flex gap-1 items-center text-black/50 font-medium text-sm;
    }
  </style>
</section>
