<section id="menu" class="py-8 px-auto">
  <h2 class="font-bold tracking-wider text-2xl text-primary">Menú</h2>

  <article class="mt-8 grid md:grid-cols-2 gap-8">
    <div class="flex flex-col gap-8">
      <section class="item-section">
        <h3>Aperitivos</h3>
        <div class="item-list">
          <div class="item">
            <p>Sabritas</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Galletas</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Palomitas</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Sopas</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Chicles</p>
            <p>25.00 MXN</p>
          </div>
        </div>
      </section>

      <section class="item-section">
        <h3>Bebidas</h3>
        <div class="item-list">
          <div class="item">
            <p>Agua</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Té</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Agua Mineral</p>
            <p>35.00 MXN</p>
          </div>
          <div class="item">
            <p>Café</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Arizona</p>
            <p>35.00 MXN</p>
          </div>
          <div class="item">
            <p>Chocolate</p>
            <p>30.00 MXN</p>
          </div>
        </div>
      </section>

      <section class="item-section">
        <h3>Farmacia</h3>
        <div class="item-list">
          <div class="item">
            <p>Preservativos</p>
            <p>30.00 MXN / unidad</p>
          </div>
          <div class="item">
            <p>Lubricante</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Viagra</p>
            <p>125.00 MXN</p>
          </div>
          <div class="item">
            <p>Toalla Sanitaria</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Sal de Uva</p>
            <p>35.00 MXN</p>
          </div>
          <div class="item">
            <p>Aspirina</p>
            <p>30.00 MXN / unidad</p>
          </div>
          <div class="item">
            <p>Paracetamol</p>
            <p>20.00 MXN / unidad</p>
          </div>
          <div class="item">
            <p>Pepto Bismol</p>
            <p>25.00 MXN</p>
          </div>
        </div>
      </section>
    </div>

    <div class="flex flex-col gap-8">
      <section class="item-section">
        <h3>Higiene</h3>
        <div class="item-list">
          <div class="item">
            <p>Rastrillo</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Desodorante</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Jabón</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Pasta Dental</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Cepillo</p>
            <p>35.00 MXN</p>
          </div>
          <div class="item">
            <p>Estropajo</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Jabonera</p>
            <p>25.00 MXN</p>
          </div>
          <div class="item">
            <p>Shampoo</p>
            <p>15.00 MXN</p>
          </div>
          <div class="item">
            <p>Gel</p>
            <p>40.00 MXN</p>
          </div>
          <div class="item">
            <p>Cotonetes</p>
            <p>15.00 MXN</p>
          </div>
          <div class="item">
            <p>Manita</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Peine</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Mechero</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Corta Uñas</p>
            <p>30.00 MXN</p>
          </div>
          <div class="item">
            <p>Sandalias</p>
            <p>60.00 MXN</p>
          </div>
        </div>
      </section>

      <section class="item-section">
        <h3>Servicios</h3>
        <div class="item-list">
          <div class="item">
            <p>Baños</p>
            <p>10.00 MXN</p>
          </div>
          <div class="item">
            <p>Regadera</p>
            <p>40.00 MXN</p>
          </div>
        </div>
      </section>
    </div>
  </article>
</section>

<style>
  @reference '@styles/global.css';

  .item-section > h3 {
    @apply font-bold text-2xl tracking-wider bg-black text-white p-2 rounded-t-md;
  }

  .item-list {
    @apply flex flex-col gap-2 mt-2;
  }

  .item {
    @apply flex justify-between;
  }

  .item > p:first-child {
    @apply text-lg;
  }

  .item > p:last-child {
    @apply font-bold tracking-wider;
  }

  .item > p:first-child::after {
    content: " .......";
    /* @apply text-lg */
  }
</style>
