---
import Image from "astro/components/Image.astro";
import RoomImg from "../assets/pictures/room1.jpeg";
import LoveRoomImg from "../assets/pictures/room4.jpeg";
import { IconBath, IconWifi, IconBed, IconWash } from "@tabler/icons-react";
---

<section id="precios" class="py-8 px-auto">
  <h2 class="font-bold tracking-wider text-2xl text-primary">Precios</h2>

  <article class="mt-8 grid md:grid-cols-2 gap-8 gap-y-16">
    <div class="room">
      <Image class="w-full h-40 object-cover" src={RoomImg} alt="habitación" />
      <h3 class="text-4xl">Habitación Standard</h3>
      <ul class="flex flex-col gap-2">
        <li><IconBed /> Cama Individual</li>
        <li><IconWifi /> Internet</li>
        <li><IconBath /> Baño Completo</li>
        <li><IconWash /> Toallas, Sabanas, Papel y Jabón</li>
      </ul>
      <p class="text-2xl font-bold tracking-wider">500.00 MXN</p>
    </div>

    <div class="room">
      <Image class="w-full h-40 object-cover" src={RoomImg} alt="habitación" />
      <h3 class="text-4xl">Habitación Premium</h3>
      <ul class="flex flex-col gap-2">
        <li><IconBed /> Cama King o Queen</li>
        <li><IconWifi /> Internet</li>
        <li><IconBath /> Baño Completo</li>
        <li><IconWash /> Toallas, Sabanas, Papel y Jabón</li>
      </ul>
      <p class="text-2xl font-bold tracking-wider">750.00 MXN</p>
    </div>

    <div class="room">
      <Image class="w-full h-40 object-cover" src={RoomImg} alt="habitación" />
      <h3 class="text-4xl">Habitación Doble</h3>
      <ul class="flex flex-col gap-2">
        <li><IconBed /> 2 camas individuales</li>
        <li><IconWifi /> Internet</li>
        <li><IconBath /> Baño Completo</li>
        <li><IconWash /> Toallas, Sabanas, Papel y Jabón</li>
      </ul>
      <p class="text-2xl font-bold tracking-wider">900.00 MXN</p>
    </div>

    <div class="room">
      <Image
        class="w-full h-40 object-cover"
        src={LoveRoomImg}
        alt="habitación"
      />
      <h3 class="text-4xl">Habitación Express</h3>
      <ul class="flex flex-col gap-2">
        <li><IconBed /> Cama Individual + Love Chair</li>
        <li><IconWifi /> Internet</li>
        <li><IconBath /> Baño Completo</li>
        <li><IconWash /> Toallas, Sabanas, Papel y Jabón</li>
      </ul>
      <p class="text-2xl font-bold tracking-wider">250.00 MXN</p>
    </div>
  </article>
</section>

<style>
  @reference '@styles/global.css';

  .room {
    @apply flex flex-col gap-4;
  }

  .room > img {
    @apply rounded-t-md;
  }

  .room > p {
    @apply text-right;
  }

  .room > p:last-child::after {
    content: " / dia";
    @apply text-lg;
  }

  .room:last-child > p:last-child::after {
    content: " x 3 horas";
    @apply text-lg;
  }

  .room ul > li {
    @apply flex gap-2;
  }
</style>
